.avatar{
    display: inline-block;
    position: relative;
    margin-left: 3rem;
} 

.avatar > img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 999px;
 
}

.status{
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 999px;

    display: block;
    position: absolute;
    bottom: 0;
    right: -5px;
}

.online{
    background-color: #33d233;
    border: 4px solid white;
}

.offline{
    background-color: #b4b2b2;
    border: 4px solid white;
}

.busy{
    background-color: #f05a73;
    border: 4px solid white;
}