*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body{
    font-size: 2rem;
    height: 100vh;
    background-color: #d8eab9;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 60%;
    max-width: 50rem; 
    border: 2px solid #b8b6b6;
    border-radius: 5px;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
}

.top{
    flex: 1;
    padding: 2.5rem;
    background-color: #fff;
}

.quote{
    font-weight: 400;
    margin-bottom: 1rem;
}

.author{
    font-size: 1.5rem;
    color: #686868;
    margin-left: .5rem;
}

.bottom{
    height: 5rem;
    background-color: #f2ecec;
    border-top: 2px solid #b8b6b6;
    padding: 1rem 2rem;
    
    display: flex;
    justify-content: start;
}

.bottom button{
    width: 8rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background-color:#0d6efd;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all .1s;
}

.bottom button:hover,
.bottom button:active{
    background-color: rgb(9, 89, 208);
    outline: 4px solid #9ab9e7;
}

.bottom button:active{
    transform: translate(-1px, 1px);
}
